{
  "monster": {
    "3": {
      "embed": {
        "title": "***{{iv}}%*** {{name}} {{#formname}}({{formname}}){{/formname}}\nCP: {{cp}}, LVL: {{level}}, {{gendername}}\n{{atk}}/{{def}}/{{sta}}\n{{move1}}/{{move2}}\n\n{{tthm}}m {{tths}}s left ({{time}}) {{#verified}}✅{{/verified}}{{^verified}}❌{{/verified}}\nWeather:{{#boostemoji}} {{boostemoji}} boosted{{/boostemoji}}{{^boostemoji}} No Boost {{/boostemoji}}{{#weatherchange}}\n❗Weatherchange: {{weatherchange}}{{/weatherchange}}"
      }
    }
  },
  "monsterNoIv": {
    "3": {
      "embed": {
        "title": "{{name}} {{#formname}}({{formname}}){{/formname}}\n{{tthm}}m {{tths}}s left ({{time}}) {{#verified}}✅{{/verified}}{{^verified}}❌{{/verified}}\nWeather:{{#boostemoji}} {{boostemoji}} boosted{{/boostemoji}}{{^boostemoji}} No Boost {{/boostemoji}}{{#weatherchange}}\n❗Weatherchange: {{weatherchange}}{{/weatherchange}}"
      }
    }
  },
  "pvp": "target: {{monster}}, league: {{league}}, rank: {{rank}}, max-level: {{level}}",
  "raid": {
    "3": {
      "embed": {
        "title": "Gym: ***{{{gymname}}}***{{#is_ex_raid_eligible}} (EX){{/is_ex_raid_eligible}}\nRaid-boss: ***{{#evolution}}{{evolutionname}} {{/evolution}}{{name}}***\nRaid end: {{time}}\nUntil {{#tthh}}{{tthh}}h{{/tthh}} {{tthm}}m {{tths}}s \nMoveset: {{move1}} / {{move2}}"
      }
    }
  },
  "egg": {
    "3": {
      "embed": {
        "title": "Gym: ***{{{gymname}}}***{{#is_ex_raid_eligible}} (EX){{/is_ex_raid_eligible}}\nRaid level: {{level}} Egg\n:Hatches {{time}} ({{#tthh}}{{tthh}}h{{/tthh}} {{tthm}}m {{tths}}s)"
      }
    }
  },
  "quest": {
    "3": {
      "embed": {
        "title": "Pokéstop: ***{{{name}}}***\nReward: {{reward}}\nQuest: {{quest_task}}"
      }
    }
  },
  "incident": {
    "3": {
      "embed": {
        "title": "Team Rocket Incident at Stop {{{name}}}!\n***{{gruntName}}***, ***{{gruntType}}***\nReward: {{gruntRewards}}\nUntil: ***{{time}}*** ({{tthm}}m {{tths}}s)"
      }
    }
  },
  "greeting": {
    "embed": {
      "description": "***Welcome!***\nPlease set your area with `/area add AREANAME`. List all available areas with `/area list`.",
      "fields": [
        {
          "name": "***General commands:***",
          "value": "`/poracle`: Enables me. \n`/unregister`: Disables me and removes all filter. \n`/stop`: Temporarily stops alarms \n`/start`: Re-enables alarms \n`/location yourArea`: Searches for yourArea and sets it as your location \n`/area add somePlace`: Sets one or multiple areas where to receive alarms from, areas need to be configured by admin \n`/area remove somePlace`: Removes a configured area"
        },
        {
          "name": "***Pokémon tracking commands:***",
          "value": "`/track snorlax lapras d500 iv50 maxiv90 cp1000 level15`: Any arguments are optional, this command would alert you about snorlax and lapras within 500 meters of your location or inside an added area. The set filters require them to have IV between 50% - 90% be at least level 15 and minimum CP of 1000 \n`/untrack lapras vileplume`: will remove tracking for lapras and vileplume"
        },
        {
          "name": "***Raid tracking commands:***",
          "value": "`/raid snorlax lapras d500 instinct`: Any arguments are optional, this command would alert you about snorlax and lapras raids within 500 meters of your location or inside an added area. The set filters require the Gym to be controlled by team Instinct \n`/raid remove lapras vileplume`: will remove tracking for lapras and vileplume raids"
        },
        {
          "name": "***Raid egg tracking commands:***",
          "value": "`/egg level3 d500 instinct`: Any arguments are optional, this command would alert you about level 3 raid eggs within 500 meters of your location or inside an added area. The set filters require the Gym to be controlled by team Instinct \n`/egg remove level3`: will remove tracking for level 3 raid eggs"
        },
        {
          "name": "***Quest tracking commands:***",
          "value": "`/quest porygon pikachu item poke ball d500`: Any arguments are optional, this command would alert you about every Porygon, Pikachu or Pokéball quest within 500 meters of your location or inside an added area.\n`/remove quest all items`: Removes every itembased quest filter. Possible with Pokémon or Stardust as well."
        },
        {
          "name": "***Invasion tracking commands:***",
          "value": "`/invasion template3 d500 dragon mixed`: Any arguments are optional, this command would alert you about Team Rocket Invasions within 500m of your location if the grunt type was mixed or dragon. You can use any pokemon type name.\n `/invasion remove` Removes tracking for all Team Rocket Invasions.\n\nA detailed documentation can be found here: https://muckelba.github.io/poracleWiki/userguide/en/options.html"
        }
      ]
    }
  },
  "tracked": ""
   
}